@model IEnumerable<WADProject.Models.BloodIssuedModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      <div class="full-page" id="blur">
        <div class="center">
            <div class="navbar">
                <nav>
                    <a class="navitem" href="~/Home/Donor">Donor</a>

                    <a class="navitem" href="~/Home/Recipient">Recipient</a>

                    <a class="navitem" href="~/Home/Blood_collection">Blood Collection</a>

                    <a class="navitem" href="~/Home/Blood_request">Blood Request</a>

                    <a class="navitem bb" href="~/Home/Blood_issued">Blood Issued</a>

                    <a class="navitem" href="~/Home/User_accounts">User Accounts</a>

                    <a class="navitem" href="~/Home/User_logs">User Logs</a>
                </nav>
            </div>
            <hr id="hr1" size="1" width="100%" />
            <br><br>

<div class="tableheader">
                <p id="table-p">Blood Issued Table</p>
            </div>
            <hr id="hr2" size="1" width="100%" />
            <div class="tblbox">
                <br> <div style="height:12px "></div>
                <div id="utility">
                    <button class="grnbtn" onclick="openForm()"><b>+</b> Add</button>
                    @using (Html.BeginForm(FormMethod.Get, new{ style="float:right;padding-top:6px" }))
                    {
                        @Html.TextBox("search", null, new{ @placeholder = " Search by Control no", @style="height:28px"})
                        <input type="submit" value="Search" class="sbmtbtn"/>
                    }
                </div>
                <table>
                    <tr>
                        <th>Blood Request Control no</th>
                        <th>Issued By</th>
                        <th>Issued Date</th>
                        <th>Issued To</th>
                        <th>Amount Paid</th>
                        <th>Action</th>
                    </tr>
                    @if(Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6">Data is Empty or not Available</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model) 
                        {   
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.controlNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.issuedBY)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateOfIssuance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.issuedTo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amountPaid)
                            </td>
                            <td id="tdbtn">
                                <div class="grnbtn">
                                    @Html.ActionLink("Edit", "EditBloodIssued", new { id = item.BloodIsudId})
                                </div>
                                <div class="redbtn">
                                    @Html.ActionLink("Delete", "DeleteBloodIssued", new { id = item.BloodIsudId})
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
   </div>
 </div>
     <div id="popupScreen">
         <img src="~/assets/images/close-circle-sharp.svg" onclick="openForm()" style="position:absolute;cursor:pointer;top:-4px;right:-3px" >
        <h1 style="margin-left:34%">Add Blood Isuued</h1> <br>
        <form method="post" onsubmit="return validateForm()">
            <div class = "row">
                <label for="controlNo" style="margin-right:15px">Blood Request Control No.</label><br>
            </div>
            <div class = "row">
                <select style="width:100%" type="number" name="controlNo" placeholder=" No." required >
                    @foreach (var value in ViewBag.ControlNo)
                    {
                        <option value="@value">@value</option>
                    }
                </select>
            </div> <br /> 
            <div class ="row">
                <label for="issuedBy">Issued By  </label> <br />
                <label for="IssuedTo" style="margin-left:-40px">  Issued To</label> <br>
            </div>
            <div class ="row">
                <input type="text" name="issuedBy" placeholder="Enter Issued By" required>
                <input type="text" name="IssuedTo" placeholder="Enter Issued To" style="margin-left:12%" required> <br>
            </div> <br />
            <div class ="row">
                <label for="dateOfIssuance" >Date Issued:</label> <br>
                <label for="amountPaid" style="margin-left:-22px">Amount Paid</label><br>
            </div>
            <div class ="row">
                 <input type="date" name="dateOfIssuance" required> <br>     
                 <input type="text" name="amountPaid" placeholder="Enter Amount" style="margin-left:10%" required>  
            </div> <br /> 
            <!---------------------------------------->
            <button style="margin-left:43%" type="submit" class="sbmtbtn" onsubmit="openForm()">Submit</button>
        </form>
    </div>
