@model IEnumerable<WADProject.Models.BloodRequestModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank Managment System</title>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/BB_favicon.png">
    <!--         -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <header>
        <!--inline -->
        <img src="~/assets/images/logo.png" alt="Logo" style="height: 60%; width: 2.8%;padding : 9px 0px 0px 5px; margin-bottom: -2px">
        <h2>
            Blood Bank Managment
        </h2>
        <img src="~/assets/images/person-circle-sharp.svg"
            style="padding : 8px 0.5px 0px 61%;margin-bottom: -5px;">
        <p id="sample-user">Sample User</p>

    </header>
      <div class="full-page" id="blur">
        <div class="center">
<div class="navbar">
                <nav>
                    <a class="navitem" href="~/Home/Donor">Donor</a>

                    <a class="navitem" href="~/Home/Recipient">Recipient</a>

                    <a class="navitem" href="~/Home/Blood_collection">Blood Collection</a>

                    <a class="navitem bb" href="~/Home/Blood_request">Blood Request</a>

                    <a class="navitem" href="~/Home/Blood_issued">Blood Issued</a>

                    <a class="navitem" href="~/Home/User_accounts">User Accounts</a>

                    <a class="navitem" href="~/Home/User_logs">User Logs</a>
                </nav>
            </div>
            <hr id="hr1" size="1" width="100%" />
            <br><br>

<div class="tableheader">
                <p id="table-p">Blood Request Table</p>
            </div>
            <hr id="hr2" size="1" width="100%" />
            <div class="tblbox">
                <br> <div style="height:12px "></div>
                <div id="utility">
                    <button class="grnbtn" onclick="openForm()"><b>+</b> Add</button>
                    <input type="text" placeholder=" Search" style="float:right; height: 30px;">
                </div>
                <table>
                    <tr>
                        <th>Control No</th>
                        <th>Requested By</th>
                        <th>Recipient Name</th>
                        <th>Blood Type</th>
                        <th>No Of Bags</th>
                        <th>Amount</th>
                        <th>Purpose</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                    @*@if(Model != null)
                     {*@
                         @foreach (var item in Model) 
                        {   
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.controlNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Recipient)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BloodType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.noOfBags)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Purpose)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Remarks)
                                </td>
                                <td id="tdbtn">
                                    <button type="button" class="grnbtn">Edit</button>
                                    <button type="button" class="redbtn">Close</button>
                                </td>
                            </tr>
                         }
                     @*}
                     else{
                         <tr> 
                             <td> Their is no data in this table</td>
                         </tr>
                     }*@
                </table>
            </div>
   </div>
 </div>
     <div id="popupScreen">
         <img src="~/assets/images/close-circle-sharp.svg" onclick="openForm()" style="position:absolute;cursor:pointer;top:-4px;right:-3px" >
        <h1 style="margin-left:34%">Add Request</h1> <br>
        <form method="post" onsubmit="return validateForm()">
            <div class ="row">
                <label for="controlNo">Control No</label> <br />
                <label for="requestedBy" style="margin-left:-18px">Requested By</label> <br>
                <label for="rBloodtype">Blood Type</label> <br />
            </div>
            <div class ="row">
                <input type="number" name="controlNo" placeholder="  -  -  -  -"  style="width:75px">
                <input type="text" name="requestedBy" placeholder=" Name Here!"  style="margin-left:5%;width:100px"> <br>
                <select name="rBloodtype" style="margin-right:7%;width:80px">
                    <option value="O" selected>O </option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                </select>
            </div> <br />
            <div class ="row">
                <label for="Recipient">Recipient</label> <br />
                <label for="noOfBags" style="margin-left:55px">No Of Bags</label><br>
            </div>
            <div class ="row">
                 <select name="Recipient" style="width:45%">
                    <option value="d1" selected>Data 1 </option>
                    <option value="d2">Data 2</option>
                </select> 
                 <input style="width:80px" type="number" name="noOfBags" placeholder="No." required> <br>     
            </div> <br />
            <div class = "row">
                <label for="Amount" style="margin-right:15px">Amount</label><br>
                <label for="Purpose">Purpose</label> <br>
                <label for="rRemarks">Remarks</label><br>
            </div>
            <div class = "row">
                <input style="width:68px" type="number" name="Amount" placeholder=" Amt" required> <br>              
                <input style="width:38%" type="text" name="Purpose"  placeholder=" Purpose of Requesting" required> <br> 
                <input style="width:66px;margin-right:20px" type="text" name="rRemarks" placeholder=" Remarks" required> <br>
            </div> <br /> 
            <!---------------------------------------->
            <button style="margin-left:43%" type="submit" class="sbmtbtn" onsubmit="openForm()">Submit</button>
        </form>
    </div>

    
    <script src="~/js/scripts.js"></script>
</body>

</html>