@model IEnumerable<WADProject.Models.DonorModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank Managment System</title>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/BB_favicon.png">
    <!--         -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <header>
        <!--inline -->
        <img src="~/assets/images/logo.png" alt="Logo" style="height: 70%; width: 2.8%;padding : 9px 0px 0px 5px; margin-bottom: -1px">
        <h2>
            Blood Bank Managment
        </h2>
        <img src="~/assets/images/person-circle-sharp.svg"
            style="padding : 8px 0.5px 0px 61%;margin-bottom: -5px;">
        <p id="sample-user">Sample User</p>

    </header>
      <div class="full-page" id="blur">
        <div class="center">
            <div class="navbar">
                <nav>
                    <a class="navitem bb" href="~/Home/Donor">Donor</a>

                    <a class="navitem" href="~/Home/Recipient">Recipient</a>

                    <a class="navitem" href="~/Home/Blood_collection">Blood Collection</a>

                    <a class="navitem" href="~/Home/Blood_request">Blood Request</a>

                    <a class="navitem" href="~/Home/Blood_issued">Blood Issued</a>

                    <a class="navitem" href="~/Home/User_accounts">User Accounts</a>

                    <a class="navitem" href="~/Home/User_logs">User Logs</a>
                </nav>
            </div>
            <hr id="hr1" size="1" width="100%" />
            <br><br>

        <div class="tableheader">
           <p id="table-p">Donor Table</p>
         </div>
            <hr id="hr2" size="1" width="100%" />
            <div class="tblbox">
                <br> <div style="height:12px "></div>
                <div id="utility">
                    <button class="grnbtn" onclick="openForm()"><b>+</b> Add</button>
                    <input type="text" placeholder=" Search" style="float:right; height: 30px;">
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Donor</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>BloodType</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                     @*@if(Model is not null)
                     {*@
                         @foreach (var item in Model) 
                        {   
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Donor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dContact)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dAge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dGender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dBloodType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dRemarks)
                                </td>
                                <td id="tdbtn">
                                    <button type="button" class="grnbtn">Edit</button>
                                    <button type="button" class="redbtn">Close</button>
                                </td>
                            </tr>
                         }
                     @*    
                     }
                     else{
                         <tr> 
                             <td> Their is no data in this table</td>
                         </tr>
                     }*@
                    </tbody>
                    
                </table>
               
            </div>
    
    </div>
 </div>
     <div id="popupScreen">
         <img src="~/assets/images/close-circle-sharp.svg" onclick="openForm()" style="position:absolute;cursor:pointer;top:-4px;right:-3px" >
        <h1 style="margin-left:34%">Add Donor</h1> <br>
            @using (@Html.BeginForm(method:FormMethod.Post))
            {
                <div class ="row">
                    <label for="Donor">Fullname</label> <br />
                    <label for="dAddress" style="margin-left:-18px">Address</label> <br>
                </div>
                <div class ="row">
                    <input type="text" name="Donor" placeholder="Enter Donor Fullname" required>
                    <input type="text" name="dAddress" placeholder="Enter Donor Address" style="margin-left:18%" required> <br>
                </div> <br />
                <div class ="row">
                    <label for="dContact">Contact:</label><br>
                    <label for="dEmail" style="margin-left:-28px">Email:</label> <br>
                </div>
                <div class ="row">
                    <input type="number" name="dContact" placeholder="Enter Donor Contact" required> 
                    <input type="email" name="dEmail" placeholder="Enter Donor Email" style="margin-left:18%"required >
                </div> <br />
                <div class = "row">
                    <label for="dAge" style="margin-right:15px">Age</label><br>
                    <label for="dGender">Gender</label> <br>
                    <label for="dBloodtype">Blood Type</label><br>
                    <label for="dRemarks">Remarks</label><br>
                </div>
                <div class = "row">
                    <input style="width:62px" type="number" name="dAge" placeholder="Age" required> <br>
                    <select name="dGender" style="margin-left:-24%" required>
                        <option value="Male" selected>Male </option>
                        <option value="Female">Female</option>
                    </select> 
                    <select name="dBloodtype" style="margin-left:-5%;width:70px" required>
                        <option value="O" selected>O </option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                    </select> 
                    <input style="width:62px;margin-right:-40px" type="text" name="dRemarks" placeholder="Remarks" required> <br>
                </div> <br /> 
                <!---------------------------------------->
                <input type="submit" value="Submit" style="margin-left:43%" class="sbmtbtn" />
            }
    </div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
  
    <script src="~/js/scripts.js"></script>
</body>

</html>