@model IEnumerable<WADProject.Models.userAccountsModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      <div class="full-page" id="blur">
        <div class="center">
            <div class="navbar">
                <nav>
                    <a class="navitem" href="~/Home/Donor">Donor</a>

                    <a class="navitem" href="~/Home/Recipient">Recipient</a>

                    <a class="navitem" href="~/Home/Blood_collection">Blood Collection</a>

                    <a class="navitem" href="~/Home/Blood_request">Blood Request</a>

                    <a class="navitem" href="~/Home/Blood_issued">Blood Issued</a>

                    <a class="navitem bb" href="~/Home/User_accounts">User Accounts</a>

                    <a class="navitem" href="~/Home/User_logs">User Logs</a>
                </nav>
            </div>
            <hr id="hr1" size="1" width="100%" />
            <br><br>

<div class="tableheader">
                <p id="table-p">User Accounts Table</p>
            </div>
            <hr id="hr2" size="1" width="100%" />
            <div class="tblbox">
                <br> <div style="height:12px "></div>
                <div id="utility">
                    <button class="grnbtn" onclick="openForm()"><b>+</b> Add</button>
                    @using (Html.BeginForm(FormMethod.Get, new{ style="float:right;padding-top:6px" }))
                    {
                        @Html.TextBox("search", null, new{ @placeholder = " Search by Username", @style="height:28px"})
                        <input type="submit" value="Search" class="sbmtbtn"/>
                    }
                </div>
                <table>
                    <tr>
                        <th>Account Name</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                    @if(Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">Data is Empty or not Available</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model) 
                        {   
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.userName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td id="tdbtn">
                                    <div class="grnbtn">
                                        @Html.ActionLink("Edit", "EditAccount", new { id = item.AccId})
                                    </div>
                                    <div class="redbtn">
                                        @Html.ActionLink("Delete", "DeleteAccount", new { id = item.AccId})
                                    </div>
                                </td>
                            </tr>
                         }
                     }                     
                </table>
            </div>
   </div>
 </div>
     <div id="popupScreen">
         <img src="~/assets/images/close-circle-sharp.svg" onclick="openForm()" style="position:absolute;cursor:pointer;top:-4px;right:-3px" >
        <h1 style="margin-left:34%">Add User</h1> <br>
        <form method="post" onsubmit="return validateForm()">
             <div class = "row">
                <label for="AccName" style="margin-right:15px">Account Name</label><br>
            </div>
            <div class = "row">
                <input style="width:100%" type="text" name="AccName" placeholder=" Enter Account Name" required> <br>
            </div> <br /> 
            <div class ="row">
                <label for="userName">User Name  </label> <br />
                <label for="Password" style="margin-left:-40px">Password</label> <br>
            </div>
            <div class ="row">
                <input type="text" name="userName" placeholder=" Enter Username" required>
                <input type="password" name="Password" placeholder=" Enter Password" minlength="5" style="margin-left:12%" required> <br>
            </div> <br /> <br />
            <!---------------------------------------->
            <button style="margin-left:43%" type="submit" class="sbmtbtn" onsubmit="openForm()">Submit</button>
        </form>
    </div>
